<html>
  <head>
   <link href="css/jquery-ui.css" rel="stylesheet">
   <script src="js/jquery-1.10.2.js"></script>
   <script src="js/jquery-ui.js"></script>
  </head>
<body>
    <table>
      <tr>
        <td width=779 colspan=8 valign=top>
          <p
          style="font-family:Calibri;color:#92D050;font-size:60.0pt"><b>Connex.us</b></p>
        </td>
      </tr>
      <tr>
        <td
          width=130
          valign=top>
          <p><a
            href="/manage"
            style="font-family:Calibri;color:#2E75B6;font-size:16.0pt;text-decoration:none;">Manage</a></p>
        </td>
        <td
          width=130
          colspan=2
          valign=top>
          <p><a
            href="/create"
            style="font-family:Calibri;color:#2E75B6;font-size:16.0pt;text-decoration:none;">Create</a></p>
        </td>
        <td
          width=130
          valign=top>
          <p><a
            href="/viewallstreams"
            style="font-family:Calibri;color:#2E75B6;font-size:16.0pt;text-decoration:none;">View</a></p>
        </td>
        <td
          width=130
          valign=top>
          <p><a
            href="/search"
            style="font-family:Calibri;color:#D0CECE;font-size:16.0pt;text-decoration:none;">Search</a></p>
        </td>
        <td
          width=130
          colspan=2
          valign=top>
          <p><a
            href="/trending"
            style="font-family:Calibri;color:#2E75B6;font-size:16.0pt;text-decoration:none;">Trending</a></p>
        </td>
        <td
          width=130
          valign=top>
          <p><a
            href="/social"
            style="font-family:Calibri;color:#2E75B6;font-size:16.0pt;text-decoration:none;">Social</a></p>
        </td>
      </tr>
    </table>

<!--      Autocomplete script         -->
    <script>
       $(function() {
           var cache = {};
           $( "#keyword" ).autocomplete({
               minLength: 1,
               source: function( request, response ) {
                  var term = request.term;
                  if ( term in cache ) {
                      console.log('in cache');
                      response( cache[ term ].slice(0,20));
                    return;
                  }
                  $.getJSON( "/search_index", request, function( data, status, xhr ) {
                      cache[ term ] = data.term;
                      response(data.term.slice(0,20));
                      console.log(data.term);
                  });
                }
           });
       });
    </script>
  </br>
     <form action = "/search" enctype = "multipart/form-dat" method = "get">
        <div class="ui-widget">
          <label for="tags">Search:</label>
          <input type = "text" id="keyword" name= "keyword" placeholder="Keyword">
        </div>
        <div class="ui-widget">
          <label for="button">
          <button type = "submit"> Search</button></div>
      </form>
      <form action = "/search" method = "post">
        <div class = "ui-widget">
        <label for ="button">
          <button type = "submit">Update Data Center</button></div>
      </form>
    {% if keyword %}
    {% if stream_names %}
    <p style="font-family:Calibri;color:black;font-size:16.0pt">{{stream_names_len}} results for {{keyword}}, click on an image to view stream </p>
    {% for i in range(0,stream_names_len) %}
    <div class="c_img"><a href =
        "/viewastream?stream_id={{stream_ids[i]}}&stream_name={{stream_names[i]}}">
        <img src="{{stream_coverurls[i]}}" width="200px" height="200px" 
        style=" border:3;padding:8;border-style:dotted;color=#990000"></a>
      <div><a href
          ="/viewastream?stream_id={{stream_ids[i]}}&stream_name={{stream_names[i]}}" class="c_words" 
          style="font-family:Calibri;color:black;font-size:20.0pt;text-decoration:none">{{stream_names[i]}}
    </a></div></div>
    <style>
      .c_img{position:relative;}
      .c_words{position:absolute;width:200px;height:30px;top:95px;left:11px;
      text-align:center;filter:alpha(opacity=60);opacity:0.6;background:white}
    </style>
    </br>
    {% endfor %} 
    {% else %}
    <p style="font-family:Calibri;color:black;font-size:16.0pt">No Result matchs string {{keyword}}</p>
    {% endif %}
    {% endif %}
  </body>
</html>

